#### Machine Learning Project - Revenue Prediction

Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import seaborn as sns

Getting dataset

In [ ]:
df = pd.read_csv('/content/IceCreamData - IceCreamData (1).csv')

Performing Data Analysis Operations

In [ ]:
df.head()

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  500 non-null    float64
 1   Revenue      500 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

In [ ]:
df.head(10)

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194
5    14.352514  367.940744
6    13.707780  308.894518
7    30.833985  696.716640
8     0.976870   55.390338
9    31.669465  737.800824

In [ ]:
df.tail()

     Temperature     Revenue
495    22.274899  524.746364
496    32.893092  755.818399
497    12.588157  306.090719
498    22.362402  566.217304
499    28.957736  655.660388

In [ ]:
df.tail(10)

     Temperature     Revenue
490    23.824922  584.399945
491    34.472169  809.352519
492    23.056214  552.819351
493    14.931506  377.430928
494    25.112066  571.434257
495    22.274899  524.746364
496    32.893092  755.818399
497    12.588157  306.090719
498    22.362402  566.217304
499    28.957736  655.660388

In [ ]:
df

     Temperature     Revenue
0      24.566884  534.799028
1      26.005191  625.190122
2      27.790554  660.632289
3      20.595335  487.706960
4      11.503498  316.240194
..           ...         ...
495    22.274899  524.746364
496    32.893092  755.818399
497    12.588157  306.090719
498    22.362402  566.217304
499    28.957736  655.660388

[500 rows x 2 columns]

In [ ]:
df.describe()

       Temperature      Revenue
count   500.000000   500.000000
mean     22.232225   521.570777
std       8.096388   175.404751
min       0.000000    10.000000
25%      17.122258   405.558681
50%      22.392791   529.368565
75%      27.740674   642.257922
max      45.000000  1000.000000

In [ ]:
df.ndim

2

In [ ]:
df.isnull()

     Temperature  Revenue
0          False    False
1          False    False
2          False    False
3          False    False
4          False    False
..           ...      ...
495        False    False
496        False    False
497        False    False
498        False    False
499        False    False

[500 rows x 2 columns]

In [ ]:
df.isnull().sum()

Temperature    0
Revenue        0
dtype: int64

In [ ]:
df.shape

(500, 2)

In [ ]:
df.columns

Index(['Temperature', 'Revenue'], dtype='object')

In [ ]:
df['Temperature']

0      24.566884
1      26.005191
2      27.790554
3      20.595335
4      11.503498
         ...
495    22.274899
496    32.893092
497    12.588157
498    22.362402
499    28.957736
Name: Temperature, Length: 500, dtype: float64

Segregating Dataset into X & Y

In [ ]:
X = df['Temperature']
Y =df['Revenue']

Spliting into Train & Test data

In [ ]:
X_train, X_test, Y_train, Y_test  = train_test_split(X, Y,train_size=0.8)

In [ ]:
X.ndim

1

Training the Model

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(np.array([X_train]).reshape(-1,1), Y_train)

LinearRegression()

In [ ]:
Y_pred = model.predict(np.array([X_test]).reshape(-1,1))

Finding the Accuracy

In [ ]:
r2_score(Y_test, Y_pred)

0.9788701336606487

In [ ]:
model.intercept_

45.31135593308517

In [ ]:
model.coef_

array([21.3896107])

In [ ]:
x = float(input("Enter the Temperature?"))
y = 21.3896107*x + 45.31135593308517
print(y)

Enter the Temperature?30
686.9996769330851

TypeError: ignored