### Machine Learning Project - Advertisement sales Prediction

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving DigitalAd_dataset[1].csv to DigitalAd_dataset[1].csv

Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
df = pd.read_csv('https://drive.google.com/file/d/1z3H6Lbz78hMtNIRUaSO526mAd-dgMphA/view?usp=sharing')

Loading the Dataset

In [ ]:
df = pd.read_csv('DigitalAd_dataset[1].csv')

Performing Data Analysis Operations

In [ ]:
df

     Age  Salary  Status
0     18   82000       0
1     29   80000       0
2     47   25000       1
3     45   26000       1
4     46   28000       1
..   ...     ...     ...
395   35   65000       0
396   26   80000       0
397   26   52000       0
398   20   86000       0
399   32   18000       0

[400 rows x 3 columns]

In [ ]:
df.head()

   Age  Salary  Status
0   18   82000       0
1   29   80000       0
2   47   25000       1
3   45   26000       1
4   46   28000       1

In [ ]:
df.head(10)

   Age  Salary  Status
0   18   82000       0
1   29   80000       0
2   47   25000       1
3   45   26000       1
4   46   28000       1
5   48   29000       1
6   45   22000       1
7   47   49000       1
8   48   41000       1
9   45   22000       1

In [ ]:
df.tail(5)

     Age  Salary  Status
395   35   65000       0
396   26   80000       0
397   26   52000       0
398   20   86000       0
399   32   18000       0

In [ ]:
df.tail(10)

     Age  Salary  Status
390   19   76000       0
391   27   58000       0
392   27   84000       0
393   32  150000       1
394   25   33000       0
395   35   65000       0
396   26   80000       0
397   26   52000       0
398   20   86000       0
399   32   18000       0

In [ ]:
df.info

<bound method DataFrame.info of      Age  Salary  Status
0     18   82000       0
1     29   80000       0
2     47   25000       1
3     45   26000       1
4     46   28000       1
..   ...     ...     ...
395   35   65000       0
396   26   80000       0
397   26   52000       0
398   20   86000       0
399   32   18000       0

[400 rows x 3 columns]>

In [ ]:
df.columns

Index(['Age', 'Salary', 'Status'], dtype='object')

In [ ]:
df.describe()

              Age         Salary      Status
count  400.000000     400.000000  400.000000
mean    37.655000   69742.500000    0.357500
std     10.482877   34096.960282    0.479864
min     18.000000   15000.000000    0.000000
25%     29.750000   43000.000000    0.000000
50%     37.000000   70000.000000    0.000000
75%     46.000000   88000.000000    1.000000
max     60.000000  150000.000000    1.000000

In [ ]:
df.shape

(400, 3)

In [ ]:
df.ndim

2

In [ ]:
df.Age

0      18
1      29
2      47
3      45
4      46
       ..
395    35
396    26
397    26
398    20
399    32
Name: Age, Length: 400, dtype: int64

In [ ]:
df['Age']

0      18
1      29
2      47
3      45
4      46
       ..
395    35
396    26
397    26
398    20
399    32
Name: Age, Length: 400, dtype: int64

In [ ]:
df.isnull()

       Age  Salary  Status
0    False   False   False
1    False   False   False
2    False   False   False
3    False   False   False
4    False   False   False
..     ...     ...     ...
395  False   False   False
396  False   False   False
397  False   False   False
398  False   False   False
399  False   False   False

[400 rows x 3 columns]

In [ ]:
df.isnull().sum()

Age       0
Salary    0
Status    0
dtype: int64

Segregating into X & Y

In [ ]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

Spliting X & Y into training and testing data

In [ ]:
x_test, x_train, y_test, y_train = train_test_split(x,y,test_size= 0.25, random_state = 0)

Feature Scaling

In [ ]:
sc = StandardScaler()
x_train =sc.fit_transform(x_train)
x_test  =sc.transform(x_test)

In [ ]:
print(x_train)

[[-0.95105513  0.87043844]
 [ 1.03030973 -1.09228575]
 [ 2.16251822 -0.97333277]
 [ 1.03030973  0.87043844]
 [-0.19624947  0.30541178]
 [-0.47930159 -1.44914469]
 [-0.76235372 -0.58673558]
 [ 1.87946609  0.21619704]
 [-0.5736523  -1.53835943]
 [ 0.27550407  0.15672055]
 [-1.8002115  -0.67595031]
 [-0.76235372 -0.17040015]
 [-1.04540584 -1.03280926]
 [ 0.93595902 -0.49752084]
 [ 1.12466043 -1.15176224]
 [-0.38495089  1.37598861]
 [ 0.93595902  1.37598861]
 [ 0.27550407 -0.58673558]
 [ 0.36985477  0.39462651]
 [-0.19624947 -0.25961488]
 [-1.23410726  0.51357949]
 [-0.00754806  0.09724406]
 [-0.85670442 -0.22987664]
 [ 0.27550407  0.12698231]
 [-0.85670442 -1.03280926]
 [ 0.46420548  0.24593529]
 [-1.04540584 -1.53835943]
 [-0.5736523  -1.44914469]
 [ 1.9738168  -0.85437979]
 [-0.19624947  0.24593529]
 [-0.38495089 -0.20013839]
 [-0.19624947 -0.34882962]
 [ 0.18115336  0.30541178]
 [ 1.50206326  2.26813596]
 [-1.04540584 -1.47888293]
 [-1.42280867  0.42436476]
 [-1.70586079 -1.35992995]
 [-0.38495089 -0.76516505]
 [-1.70586079  0.09724406]
 [-0.47930159 -1.44914469]
 [ 0.46420548  0.39462651]
 [ 1.9738168   2.29787421]
 [ 0.7472576  -1.33019171]
 [-0.76235372  0.39462651]
 [ 0.18115336  0.87043844]
 [-1.42280867 -0.11092365]
 [ 0.93595902 -0.97333277]
 [ 0.27550407 -0.17040015]
 [-1.04540584  1.52467983]
 [ 1.87946609  1.64363281]
 [-0.10189876  2.29787421]
 [-1.04540584 -1.09228575]
 [-0.10189876  1.73284755]
 [-0.5736523  -0.02170892]
 [-0.19624947 -0.28935313]
 [ 0.46420548 -0.05144716]
 [-1.23410726 -1.41940644]
 [ 0.84160831 -1.30045346]
 [-0.95105513 -1.47888293]
 [-0.47930159  1.49494159]
 [-1.04540584  0.42436476]
 [-0.00754806 -0.1406619 ]
 [ 0.84160831 -1.15176224]
 [ 0.08680265  0.12698231]
 [ 0.93595902 -0.58673558]
 [ 1.78511539 -0.20013839]
 [-0.47930159  2.03023   ]
 [ 1.03030973 -1.12202399]
 [-0.76235372  2.41682719]
 [ 1.03030973  1.91127702]
 [ 0.93595902 -0.52725909]
 [ 1.87946609 -1.21123873]
 [-1.61151009 -0.52725909]
 [-0.95105513  0.69200897]
 [-0.00754806  0.15672055]
 [-0.76235372 -0.70568856]
 [ 0.46420548 -0.40830611]
 [ 0.7472576  -1.03280926]
 [ 0.84160831 -1.03280926]
 [ 0.93595902 -0.4677826 ]
 [ 0.08680265  1.37598861]
 [-0.85670442  0.60279423]
 [-0.5736523   0.03776757]
 [-0.10189876  0.24593529]
 [ 0.18115336  0.36488827]
 [ 1.78511539  1.1083444 ]
 [-1.61151009  0.454103  ]
 [ 0.18115336  0.12698231]
 [-0.19624947 -0.05144716]
 [ 0.18115336  1.64363281]
 [ 0.18115336 -0.22987664]
 [-0.00754806  0.21619704]
 [-1.13975655  0.39462651]
 [ 1.03030973 -0.76516505]
 [ 1.9738168   1.01912966]
 [-0.47930159  0.98939142]
 [-1.61151009  0.21619704]
 [-1.70586079  0.27567353]
 [ 1.40771256 -0.85437979]
 [ 0.36985477  0.60279423]]

In [ ]:
model = LogisticRegression()

Training the Model

In [ ]:
model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
y_pred = model.predict(x_test)

Prediction of Results

In [ ]:
age = input("enter your age?")
salary = input("enter your salary?")
newcast =[[age,salary]]
result= model.predict(sc.transform(newcast))
print(result)
if result == 1:
  print("customer will buy")
else:
  print("customer wont buy")

enter your age?25
enter your salary?35000
[0]
customer wont buy

Accuracy of the Model

In [ ]:
print("accuracy of the model.{0}%".format(accuracy_score(y_test,y_pred)*100))

accuracy of the model.84.0%