<a href="https://colab.research.google.com/github/KESHAVNATH8/Machine-Learning-Project/blob/main/StockPricePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('/content/data[1].csv')

In [3]:
df

              x           y
0    168.181818  160.840244
1    187.878788  159.413657
2    207.575758  157.136809
3    227.272727  159.357847
4    246.969697  157.542862
..          ...         ...
89  1921.212121  172.285091
90  1940.909091  176.001331
91  1960.606061  176.128171
92  1980.303030  175.813257
93  2000.000000  175.530826

[94 rows x 2 columns]

In [4]:
df.head()

            x           y
0  168.181818  160.840244
1  187.878788  159.413657
2  207.575758  157.136809
3  227.272727  159.357847
4  246.969697  157.542862

In [5]:
df.tail()

              x           y
89  1921.212121  172.285091
90  1940.909091  176.001331
91  1960.606061  176.128171
92  1980.303030  175.813257
93  2000.000000  175.530826

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       94 non-null     float64
 1   y       94 non-null     float64
dtypes: float64(2)
memory usage: 1.6 KB

In [7]:
df.describe()

                 x           y
count    94.000000   94.000000
mean   1084.090909  166.576111
std     537.321877    5.861601
min     168.181818  155.234046
25%     626.136364  161.236377
50%    1084.090909  166.508064
75%    1542.045455  171.784967
max    2000.000000  176.361532

In [8]:
df.dtypes

x    float64
y    float64
dtype: object

In [9]:
df.columns

Index(['x', 'y'], dtype='object')

In [10]:
df.shape

(94, 2)

In [11]:
x = df['x']
y = df['y']

In [12]:
x

0      168.181818
1      187.878788
2      207.575758
3      227.272727
4      246.969697
         ...
89    1921.212121
90    1940.909091
91    1960.606061
92    1980.303030
93    2000.000000
Name: x, Length: 94, dtype: float64

In [13]:
y

0     160.840244
1     159.413657
2     157.136809
3     159.357847
4     157.542862
         ...
89    172.285091
90    176.001331
91    176.128171
92    175.813257
93    175.530826
Name: y, Length: 94, dtype: float64

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.30,random_state=0)

In [15]:
x_train

87    1881.818182
86    1862.121212
3      227.272727
66    1468.181818
84    1822.727273
         ...
90    1940.909091
67    1487.878788
64    1428.787879
47    1093.939394
44    1034.848485
Name: x, Length: 65, dtype: float64

In [33]:
x_test

2      207.575758
30     759.090909
56    1271.212121
16     483.333333
13     424.242424
61    1369.696970
62    1389.393939
79    1724.242424
33     818.181818
78    1704.545455
76    1665.151515
7      306.060606
51    1172.727273
89    1921.212121
93    2000.000000
60    1350.000000
8      325.757576
22     601.515152
73    1606.060606
45    1054.545455
26     680.303030
43    1015.151515
24     640.909091
6      286.363636
42     995.454545
48    1113.636364
74    1625.757576
82    1783.333333
77    1684.848485
Name: x, dtype: float64

In [34]:
x_test.shape

(29,)

In [35]:
x_train.shape

(65,)

In [36]:
model = LinearRegression()

In [37]:
model.fit(np.array([x_train]).reshape(-1,1), y_train)

LinearRegression()

In [38]:
y_pred = model.predict(np.array([x_test]).reshape(-1,1))

In [39]:
y_pred

array([157.71409243, 163.44446405, 168.7655234 , 160.57927824,
       159.96530985, 169.78880405, 169.99346018, 173.47261437,
       164.05843243, 173.26795824, 172.85864598, 158.73737308,
       167.74224276, 175.51917566, 176.33780018, 169.58414792,
       158.94202921, 161.80721501, 172.2446776 , 166.51430598,
       162.62583953, 166.10499372, 162.21652727, 158.53271695,
       165.90033759, 167.12827437, 172.44933372, 174.08658276,
       173.06330211])

In [40]:
r2_score(y_test, y_pred)

0.8963703409101716

In [41]:
model1 = SVR()
model1.fit(np.array([x_train]).reshape(-1,1), y_train)

SVR()

In [42]:
y_pred1 = model1.predict(np.array([x_test]).reshape(-1,1))

In [43]:
r2_score(y_test, y_pred1)

0.8643219479741082